<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div style="display: flex; justify-content: space-between">

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
<!--                <a href="{{ site.url }}{{ site.baseurl }}/blog"><li>BLOG</li></a>-->
                <a href="{{ site.url }}{{ site.baseurl }}/"><li>HOME</li></a>
                <a href="{{ site.url }}{{ site.baseurl }}/research"><li>RESEARCH</li></a>
                <a href="{{ site.url }}{{ site.baseurl }}/team"><li>TEAM</li></a>
                <a href="{{ site.url }}{{ site.baseurl }}/contact"><li>CONTACT</li></a>
            </ul>
        </div>


       <div style="flex-grow: 2"></div>

        <a href="{{ site.url }}{{ site.baseurl }}">
            <img class="logo-s2" src="{{ site.url }}{{site.baseurl}}/images/logopic/s2-syssec-new.svg"/>
        </a>
<!--        
            // TODO: needs to fix alignments
            <a href="https://www.ucl.ac.uk">
            <img class="logo-img" src="{{ site.url }}{{site.baseurl}}/images/logopic/ucl-logo.svg"/>
        </a>
-->

         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>
