$content-font-size: 2.6em;
$navbar-height: 60px;
$navbar-items-side-padding: 16px;
$navbar-dark-grey: #333;
$navbar-light-grey: #666;
$navbar-light-black: #303030;
$navbar-dark-blue: #008C9D;
$s2-logo-padding: $navbar-height * 0.15;
$kings-red: #eb2629;
$content-width: 750px;
