---
layout: base_lay
---
<div class="main-content proj-content">
    <div class="headline">
        <div class="glitch-title-wrapper">
            <h1 class="apt">APT CLASS</h1>
        </div>
    </div>

    Attributing a piece of malware to its creator typically requires threat intelligence to attain a sufficient
    confidence level. Binary attribution increases the level of difficulty as it mostly relies upon the ability
    to disassemble binaries to gather relevant features and build a fingerprint to identify the author.
    <br/><br/>
    To date, most research focuses on source code authorship attribution and the application of similar techniques
    to benign and malicious binaries. However, this approach provides an opportunity for malicious authors to attack
    the authorship attribution models due to the stark differences between both source code and binaries and benign
    and malicious authors.
    <br/><br/>
    Our survey (joint work with <a href="https://s3lab.isg.rhul.ac.uk/aptclass">S3Lab</a>) explores the style of threat actors and the adversarial techniques used by them to remain anonymous.
    We examine the adversarial impact on state-of-the-art methods for binary authorship attribution. Through this
    approach, we identify key findings and explore the open research challenges to identifying authorship style within
    malicious binaries.
    <br/><br/>
    One major challenge is the lack of a ground truth dataset of malware and authors. To mitigate
    this issue for the community, <b>we publish alongside this survey a meta-information dataset of 17,513 malware
    labeled to 275 threat actor groups</b>. This is the largest and diverse dataset to date. Additionally, we identify a further 5,630 malicious samples currently linked to unknown groups.

    <h2>Access</h2>
    To request access to the dataset, please complete the following form:

    <div class="access-form">
        <a href="https://forms.gle/yME7G1mQwM8jRL5b9" target="_blank">> FORM TO REQUEST ACCESS <</a>
    </div>
        
     We have already granted access to people from the following institutions (alphabetical order):

    <ol>
        <li>Amadeus IT Group, Spain</li>
        <li>Beijing University of Posts and Telecommunications, China</li>
        <li>Ben Gurion University, Israel</li>
        <li>Bern University of Applied Sciences, Switzerland</li>
        <li>BlackTruffle Security</li>
        <li>Cybergeeks[.]tech</li>
        <li>Delhi Technological University, India</li>
        <li>DSO National Laboratories</li>
        <li>FortiGuard Labs</li>
        <li>Fraunhofer FKIE, Germany</li>
        <li>Georgia Tech Research Institute, USA</li>
        <li>Global Infotek, Inc, USA</li>
        <li>Grammatech, USA</li>
        <li>Hacettepe University</li>
        <li>Harfanglab, France</li>
        <li>Hasso-Plattner-Institut</li>
        <li>HRL Laboratories, USA</li>
        <li>Illinois Institute of Technology</li>
        <li>IMDEA Software Institute</li>
        <li>Institute of Information Engineering</li>
        <li>International Business Machines (IBM), USA</li>
        <li>Indian Institute of Technology Kanpur, India</li>
        <li>Information Sciences Institute, University of Southern California, USA</li>
        <li>InQuest</li>
        <li>Jawaharlal Nehru University</li>
        <li>Jinan University, China</li>
        <li>Kennesaw State University, USA</li>
        <li>Kudu Dynamics, USA</li>
        <li>Lancaster University, UK</li>
        <li>Mahidol University</li>
        <li>Nanjing University of Posts and Telecommunications</li>
        <li>Nanyang Technological University - NTU Singapore</li>
        <li>National University and Science and Technology Islamabad, Pakistan</li>
        <li>National University of Singapore</li>
        <li>NATO</li>
        <li>Naval Research Laboratory, USA</li>
        <li>Norwich University</li>
        <li>OpenAnalysis Inc</li>
        <li>Osaka Electro-Communication University, Japan</li>
        <li>Purdue University</li>
        <li>PolySwarm - Malware Intelligence</li>
        <li>Recorded Future, USA</li>
        <li>Rice University, USA</li>
        <li>Ritsumeikan University</li>
        <li>Royal Holloway University Of London, UK</li>
        <li>Ruhr-Universität Bochum, Germany</li>
        <li>Sabancı University, Turkey</li>
        <li>Shahid Beheshti University, Iran</li>
        <li>SRI International</li>
        <li>The MITRE Corporation</li>
        <li>TU Wien, Austria</li>
        <li>UC Berkeley, USA</li>
        <li>University Institute of Information Technology, PMAS, Pakistan</li>
        <li>University of Chinese Academy of Sciences, China</li>
        <li>University of Colorado</li>
        <li>University of Illinois, USA</li>
        <li>University of Kent, UK</li>
        <li>University of New Brunswick, Canada</li>
        <li>University of Saskatchewan, Canada</li>
        <li>University of Southern California</li>
        <li>Universidad Técnica Particular de Loja</li>
        <li>Unknown Cyber Inc</li>
        <li>Westphalian University, Germany</li>
        <li>Wrexham Glyndwr University</li>
        <li>Wright State University</li>
        <li>Wuhan University, China</li>
        <li>Zeropoint Dynamics, USA</li>
        <li>Zetier</li>
    </ol>    
     

    <h2>Papers</h2>

    {% assign sorted = site.data.projects_publist | where: "tags", "aptclass" %}
    {% for pub in sorted %}
    {% include publication_reference.html %}
    {% endfor %}


    <h2>People</h2>
    <ul>
        {% assign member = site.data.team | where: "lastname", "Gray" | first %}
        <li>
            <b><a href={{member.profile}}><i>Jason Gray</i></a>, Ph.D. Student, King's College London &amp; Royal
            Holloway, University of London</b>
        </li>
        <li>
            <a href="https://www.danielesgandurra.com/"><i>Daniele Sgandurra</i></a>
        </li>
        {% assign member = site.data.team | where: "lastname", "Cavallaro" | first %}
        <li>
            <a href={{member.profile}}><i>Lorenzo Cavallaro</i></a>, Full Professor of Computer
            Science, Chair in Cybersecurity (Systems Security), King's College London
        </li>
         <li>
            <a href="https://www.jorgeblascoalis.com/"><i>Jorge Blasco Alis</i></a>, Associate Professor, Universidad Politécnica de Madrid
        </li>
    </ul>
</div>

