---
layout: base_lay
---
<div class="main-content proj-content">
    <div class="headline">
        <img src="{{'images/tesseract.gif' | relative_url}}"/>
        <div>
            <h1 class="tesseract-header">Drift</h1>
            <i>Investigating Labelless Drift Adaptation for Malware Detection.</i>
        </div>
    </div>

    <h2>News</h2>
    <ul>
        <li><i>Sept. 2021</i>: Our paper "Investigating Labelless Drift Adaptation for Malware 
            Detection" is accepted at <b>14th ACM Workshop on AISec, 2021</b>.</li>
    </ul>

    <h2>Access</h2>
    We are hosting DroidEvolver++ patch on a private Bitbucket repository, under open source license. To get access to the
        repository, please complete the following form:

    <div class="access-form">
        <a href="https://forms.gle/DtqaMjDDR2tpG3Tn6" target="_blank">> FORM TO REQUEST ACCESS <</a>
    </div>

    <!-- We have already granted access to people from the following institutions (alphabetical order):

    <ol>
        <li>ANSSI - the French Network and Information Security Agency</li>
        <li>Boise State University, USA</li>
        <li>Birla Institute of Technology and Science, Pilani, India</li>
        <li>Capital One, USA</li>
        <li>Carnegie Mellon University, USA</li>
        <li>Czech Technical University, Czech Republic</li>
        <li>Deakin University, Australia</li>
        <li>Federal University of Paraná (UFPR), Brazil</li>
        <li>Georgia Tech, USA</li>
        <li>Huazhong University of Science and Technology (HUST), China</li>
        <li>King's College London, UK</li>
        <li>TU Dublin, Institute of Technology Blanchardstown, Ireland</li>
        <li>Nanjing University, Software Institute, China</li>
        <li>National Institute of Technology, Rourkela, India</li>
        <li>New York University, USA</li>
        <li>Northwest University, China</li>
        <li>Osaka University, Japan</li>
        <li>Rice University, USA</li>
        <li>Royal Holloway, University of London, UK</li>
        <li>Institute for Information Industry, Taiwan</li>
        <li>SnT - University of Luxembourg</li>
        <li>Swinburne University of Technology, Australia</li>
        <li>The Interdisciplinary Center Herzliya (IDC), Israel</li>
        <li>The MITRE Corporation, USA</li>
        <li>Tsinghua University, China</li>
        <li>TU Braunschweig, Germany</li>
        <li>TU Munich, Germany</li>
        <li>University of Bari Aldo Moro, Italy</li>
        <li>Universidad Carlos III de Madrid, Spain</li>
        <li>University of Cagliari, Italy</li>
        <li>University of Jinan, China</li>
        <li>University of New South Wales, Australia</li>
        <li>University of Toronto, Canada</li>
        <li>VIT Bhopal, India</li>
        <li>Washington State University, USA</li>
    </ol> -->

    <h2>Papers</h2>

    {% assign sorted = site.data.projects_publist | where: "tags", "drift" %}
    {% for pub in sorted %}
    {% include publication_reference.html %}
    {% endfor %}

    <!-- <h2>Talks</h2>

    <div class="proj-video">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dbGYeAHC5s4?rel=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="video-caption">
            Fabio Pierazzi presents TESSERACT at USENIX Security 2019.
        </div>
    </div> -->

    <!-- <div class="divider"></div>

    <div class="proj-video">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/VnOHsCuthqE?rel=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="video-caption">
            Lorenzo Cavallaro gives a preview of the work at USENIX Enigma 2019.
        </div>
    </div> -->
    <h2>People</h2>
    <ul>
        {% assign member = site.data.team | where: "lastname", "Kan" | first %}
        <li><a href={{member.profile}}><i>Zeliang Kan</i></a>, Ph.D. Student, King's College London &amp; 
            University College London.
        </li>
        {% assign member = site.data.team | where: "lastname", "Pendlebury" | first %}
        <li><a href={{member.profile}}><i>Feargus Pendlebury</i></a>, Ph.D. Student, University College London &amp; 
            Royal Holloway, University of London &amp; International Computer Science Institute.
        </li>
        {% assign member = site.data.team | where: "lastname", "Pierazzi" | first %}
        <li><a href={{member.profile}}><i>Fabio Pierazzi</i></a>, Lecturer (Assistant Professor), 
            King's College London.
        </li>
        {% assign member = site.data.team | where: "lastname", "Cavallaro" | first %}
        <li><a href={{member.profile}}><i>Lorenzo Cavallaro</i></a>, Full Professor of Computer
            Science, University College London.
        </li>
    </ul>
</div>