---
layout: base_lay
---
<div class="main-content proj-content">
    <div class="headline">
        <div class="transcend-title-wrapper">
            <h1 class="transcend-title" data-text="TRANSCEND">TRANSCEND</h1>
        </div>
    </div>

    <h2>News</h2>
    <ul>
        <li><i>Dec 2023</i>: <a href="downloads/transcending-errata_corrige.pdf">Errata Corrige</a> to the IEEE S&amp;P 2022 publication</li>
        <li><i>Nov 2021</i>: The final version of Transcendent has been accepted to <b>IEEE S&amp;P 2022</b>!</li>
        <li><i>Oct 2020</i>: We'll be presenting our preprint extending Transcend at <a href="https://cybersecai.com/"><b>CyberSec&AI</b></a></li>
    </ul>

    <h2>Access</h2>
    We are hosting Transcend and Transcendent code on a private Bitbucket repository, under open source license. To get access to the
    repository, please complete the following form:

    <div class="access-form">
        <a href="https://forms.gle/W3KVsJuEaNVvRNY7A" target="_blank">> FORM TO REQUEST ACCESS <</a>
    </div>

    We have already granted access to people from the following institutions (random order):

    <br />

    <ol>
<li>Amazon Web Services</li>
<li>Beijing Institute of Technology</li>
<li>Beijing University of Posts and Telecommunications</li>
<li>Chinese Academy of Sciences</li>
<li>Columbia University</li>
<li>ETH Zurich</li>
<li>Edinburgh Napier University</li>
<li>Fudan University</li>
<li>Georgia Tech</li>
<li>IDC</li>
<li>Imperial College London</li>
<li>Institute of Information Engineering CAS</li>
<li>Institute of Information Enigneering, Chinese Academy of Science</li>
<li>National University of Defense Technology</li>
<li>Northeastern University</li>
<li>Northumbria University Newcastle,UK</li>
<li>Sichuan University</li>
<li>Simon Fraser University</li>
<li>Southeast University</li>
<li>Stony Brook University</li>
<li>TU Braunschweig</li>
<li>The Hong Kong Polytechnic University</li>
<li>Tsinghua University</li>
<li>UC Berkeley</li>
<li>UC Santa Barbara</li>
<li>United States Military Academy, West Point</li>
<li>University of Birmingham</li>
<li>University of Illinois Urbana-Champaign (UIUC)</li>
<li>University of Oxford</li>
<li>University of Reading</li>
<li>University of Southern California</li>
<li>VIT University</li>
<li>Virginia Tech</li>
<li>Waseda University</li>
<li>Wuhan University</li>
<li>Yonsei University</li>
<li>Zhejiang University</li>
<li>Zhejiang University of Technology</li>
    </ol>

    <h2>Papers</h2>

    {% assign sorted = site.data.projects_publist | where: "tags", "transcend" %}
    {% for pub in sorted %}
    {% include publication_reference.html %}
    {% endfor %}

    <h2>Videos</h2>

    <div class="proj-video">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fqxr7cnPJ3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-caption">
            Federico Barbero presents the work at IEEE Security & Privacy (Oakland) 2022.
        </div>
    </div>

    <div class="divider"></div>

    <div class="proj-video">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Pzw9HobkBRg?rel=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="video-caption">
            Roberto Jordaney presents TRANSCEND at Usenix Security 2017.
        </div>
    </div>


    <h2>People</h2>
    <ul>
        {% assign member = site.data.team | where: "lastname", "Jordaney" | first %}
        <li>
            <a href={{member.profile}}><i>Roberto Jordaney</i></a>,  Security Researcher, F-Secure
        </li>
        {% assign member = site.data.team | where: "lastname", "Barbero" | first %}
        <li>
            <a href={{member.profile}}><i>Federico Barbero</i></a>, B.Sc. Student, King's College London</li>
        {% assign member = site.data.team | where: "lastname", "Pendlebury" | first %}
        <li>
            <a href={{member.profile}}><i>Feargus Pendlebury</i></a>, Ph.D. Student, King's College London &amp; Royal
            Holloway, University of London & The Alan Turing Institute
        </li>
        {% assign member = site.data.team | where: "lastname", "Pierazzi" | first %}
        <li>
            <a href={{member.profile}}><i>Fabio Pierazzi</i></a>, Lecturer (Assistant Professor), King's College London.
        </li>

        {% assign member = site.data.team | where: "lastname", "Sharad" | first %}
        <li>
            <a href={{member.profile}}><i>Kumar Sharad</i></a>, Security Researcher, Barkhausen Institut.
        </li>
        {% assign member = site.data.team | where: "lastname", "Dash" | first %}
        <li>
            <a href={{member.profile}}><i>Santanu K. Dash</i></a>, Lecturer (Assistant Professor), Surrey University.
        </li>

        <li>
            <i>Zhi Wang</i>, Lecturer (Assistant Professor), Nankai University.
        </li>

        {% assign member = site.data.team | where: "lastname", "Papini" | first %}
        <li>
            <a href={{member.profile}}><i>Davide Papini</i></a>, Cybersecurity System Engineer, Elettronica S.p.A.
        </li>

        <li>
            Ilia Nouretdinov, Research Assistant, Royal Holloway, University of London.
        </li>

        {% assign member = site.data.team | where: "lastname", "Cavallaro" | first %}
        <li>
            <a href={{member.profile}}><i>Lorenzo Cavallaro</i></a>, Full Professor of Computer
            Science, UCL
        </li>
    </ul>
</div>

