<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lorenzo Cavallaro</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://getbootstrap.com/1.4.0/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github.min.css" crossorigin="anonymous" title="hl-light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

    <!-- CSS and structure come from David Brumley's web page; all credits to him! -->

    <!-- owl carousel css -->
    <link rel="stylesheet" href="/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/owlcarousel/owl.theme.css">
    <link rel="stylesheet" href="/owlcarousel/owl.transitions.css">
    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- DJB local modifications -->
    <link href="/css/djbstyle.css" rel="stylesheet">
    
  </head>

  <body>

    <!-- background image overlay (semi transparent dark background image overlay) -->
    <!-- comment or remove if you don't want the overlay on top of the image -->
     <!-- <div class="background-image-overlay"></div>  -->

    <!-- outer background container - the element from where the default page background image is set, and the element which changes its background when scrolling through other sections (.section-wrapoer) that have attribute "data-custom-background-img" set. 
     - data-default-background-img attr is required for sections (.section-wrapper) below that have no custom background defined.
     - use same image in the backstretch.js code in the footer for IE8 or less browsers -->
    <div id="outer-background-container" data-default-background-img="" style="background-image:url(/dallebg.png);"></div>
    <!-- end: #outer-background-container -->    


    <div id="outer-container">
      <!-- begin: Left Sidebar -->
      <section id="left-sidebar">
        <div class="logo">
          <h3><a href="#intro" class="localwhite link-scroll">Lorenzo Cavallaro</a></h3>
        </div>

        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

        <ul id="main-menu">

          <!--<li id="menu-item-research" class="menu-item scroll"><a href="https://s2lab.cs.ucl.ac.uk">Research Lab</a>&nbsp;
            <a href="https://github.com/s2labres" target="_blank" rel="noopener">
              <i class="fab fa-github big-icon fa-sm""></i>
            </a> 
          </li>-->
          <li id="menu-item-research" class="menu-item scroll">
            <a href="https://s2lab.cs.ucl.ac.uk" style="display: inline-block; margin-left:45px">Research</a>
            <a href="https://github.com/s2labres" target="_blank" rel="noopener" style="display: inline-block;">
              <i class="fab fa-github big-icon fa-sm"></i>
            </a>
          </li>

          <li id="menu-item-students" class="menu-item scroll"><a href="https://s2lab.cs.ucl.ac.uk/team/">Team</a></li>
          <li id="menu-item-teaching" class="menu-item scroll"><a href="#teaching">Teaching</a></li>
          <li id="menu-item-service" class="menu-item scroll"><a href="#service">Service</a></li>
          <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">Contact</a></li>
        </ul>
      </section><!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <section id="main-content" class="clearfix">
        <article id="intro" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">
                <section class="feature-text greybox regsans leftalign">
                  <p style="font-size:0.7em; line-height:1.3">My research vision is to develop <span class="importantword">learning-based methods</span> that are <span
                  class="importantword">robust</span> against adversaries. We can achieve this by understanding the
                  interplay <span class="importantword">program analysis</span>, <span class="importantword">representations</span>, and
                  <span class="importantword">machine learning models</span> play towards realizing Trustworthy AI
                  for Systems Security.</p> 
                  <p style="font-size:0.7em; line-height:1.3">I am a <a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=LCAVA89">Full Professor</a> of <a href="https://www.cs.ucl.ac.uk">Computer Science</a> at <a href="https://www.ucl.ac.uk">University College London</a>.
                </section>
            </div>
          </div>
        </article>

        <article id="teaching" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">
                <h1 style="color:white" class="section-title">Teaching</h1>
                <div class="regsans greybox leftalign">
                  <p style="font-size:0.7em; line-height:1.3">I have been fortunate to teach Malware (COMP0060; 2022&mdash;ongoing), Research in Information Security (COMP0057; 2021&mdash;23), and Computer Security 2 (COMP0055; 2021&mdash;ongoing)
                  </p>
              </div>
            </div>
          </div>
        </article>

        <article id="service" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">
                <h1 style="color:white" class="section-title">Service</h1>
                <div class="regsans greybox leftalign">
                  <h5 style="color:white"></h5>
                  <p style="font-size:0.7em; line-height:1.3">
                    2023&mdash;2026: NDSS Steering Group<br/>
                    2023&mdash;ongoing: Associate Editor of Computer & Security<br/>
                    2022&mdash;ongoing: Associate Editor of ACM TOPS<br/>
                    2023&mdash;ongoing: Scientific Advisory Board <a href="https://serics.eu">SERICS</a><br/>
                    2023: Guest Co-Editor of the 
                    <a href="https://www.journals.elsevier.com/computers-and-security/forthcoming-special-issues/special-issue-on-benefits-and-outlook-of-program-analysis-for-systems-security">Special Issue on Benefits and Outlook of Program Analysis for Systems Security]</a> of Computer and Security<br/>
                  </p>
                  <h5 style="color:white">Program Committees</h5>
                  <p style="font-size:0.7em; line-height:1.3">
                     2025: IEEE S&P 
                     2024: USENIX Security, CCS, NDSS, ICLR, SaTML, CCS Doctoral Symposium Committee (Mentoring)</br>
                     2023: USENIX Security, PATTERN, RAID, ACSAC, SaTML, ICLR, AISec</br>
                     2022: USENIX Security, IEEE S&P, CCS, ICLR, RAID, AISec</br>
                     2021: USENIX Security, IEEE S&P, CCS, ICLR, NeurIPS, RAID, ESORICS, AISec</br>
                  </p>

              </div>
            </div>
          </div>
        </article>

        <article id="contact" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix">
              <h1 style="color:white" class="section-title">Contact</h1>
                <div class="greybox regsans">
                  <div class="contact-details col-sm-10 col-md-9 pull-right">                  
                    <p style="font-size:0.7em; line-height:1.3"><a
                    href="https://goo.gl/maps/CtzEvMFjrFaC4CUq7">169 Euston Road</a><br/>London NW1 2AE, UK</p>
                    <p style="font-size:0.7em; line-height:1.3">Email: Initial Firstname dot Lastname at UCL domain (all lowercase).</p>
                  </div>
                </div>
          </div>
        </article>

      </section><!-- #main-content -->
      <!-- ==================== END: MAIN CONTENT ==================== -->

      <!-- Footer -->
      <section id="footer">
        <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>
        <ul class="social-icons">
            <li>
                <a href="#contact" >
                  <i class="fas fa-envelope big-icon fa-2x"></i>
                </a>
              </li>
              
              <li>
                <a href="https://twitter.com/lcavallaro" target="_blank" rel="noopener">
                  <i class="fab fa-twitter big-icon fa-2x"></i>
                </a>
              </li>
              
              <li>
                <a href="https://scholar.google.com/citations?user=oWT7fIYAAAAJ&hl=en" target="_blank" rel="noopener">
                  <i class="ai ai-google-scholar big-icon fa-2x""></i>
                </a>
              </li>
              
              <li>
                <a href="https://github.com/lcavallaro" target="_blank" rel="noopener">
                  <i class="fab fa-github big-icon fa-2x""></i>
                </a>
              </li>
              
              <li>
                <a href="https://www.linkedin.com/in/lorenzocavallaro/" target="_blank" rel="noopener">
                  <i class="fab fa-linkedin big-icon fa-2x""></i>
                </a>
              </li>
              
        </ul>
        <div class="copyright">
          Code from <a href="https://users.ece.cmu.edu/~dbrumley/">David Brumley</a>'s page.
        </div>

      </section>

    </div><!-- #outer-container -->

    <!-- end: Outer Container -->

    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

    <!-- Javascripts
    ================================================== -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.js" crossorigin="anonymous"></script>

    <!-- Easing - for transitions and effects -->
    <!-- <script src="assets/js/jquery.easing.1.3.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- background image strech script -->
    <!-- <script src="assets/js/jquery.backstretch.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js"></script>

    <!-- background image fix for IE 9 or less
       - use same background as set above to <body> -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
    $(document).ready(function(){
      jQuery("#outer-background-container").backstretch("assets/images/other_images/bg5.jpg");
    });
    </script> 
    <![endif]-->  

    <!-- detect mobile browsers -->
    <!-- <script src="detectmobilebrowser.js"></script> -->

    <!-- owl carousel js -->
    <script src="/js/owl.carousel.min.js"></script> 

    <!-- Custom functions for this theme -->
    <script src="/js/functions.js"></script>
    <script src="/js/initialise-functions.js"></script>

    </body>
</html>
